<!DOCTYPE html>

<html>
    <head>
        <title>Valotrack</title>
        <link href="style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="An easy to use Valorant Tracker.">
        <meta name="keywords" content="Valorant, Tracker, easy, Castor">
        <meta name="author" content="Castor">
    </head>
    <body>
        <p class="logo" onclick="location.href='/'">Valotrack</p>
        <img class="reload" src="icons/refresh.png" onclick="location.reload();" <% if (!searched || data == false) { %>style="display: none;" <% } %>>
        <div id="search" <% if (searched && data != false) { %>style="display: none;" <% } %>>
            <div class="header">
                <h2>Search</h2>
            </div>
            <p>Enter the name and tag of a <span>Valorant-Player</span> to view his stats and match history.</p>
            <div class="input">
                <input id="i" placeholder="Placeholder#0000">
                <button onclick="if(document.getElementById('i').value)location.href='/?user=' + document.getElementById('i').value.replace('#', '&tag=');">Go</button>
            </div>
        </div>
        <div id="main" <% if (!searched || data == false) { %>style="display: none;" <% } %>>
            <div class="head">
                <img src="<%=data.cardUrl%>">
                <h1><%=data.name%> <span>#<%=data.tag%></span></h1>
            </div>
            <p class="info">Account Stats</p>
            <div class="stats">
                <div class="stats_item">
                    <p><%=data.lvl%></p>
                    <h2>Level</h2>
                </div>
                <div class="stats_item">
                    <p><%=data.winrate%>%</p>
                    <h2>Win Rate</h2>
                </div>
                <div class="stats_item">
                    <p><%=data.tier%></p>
                    <h2>Rank</h2>
                </div>
            </div>
            <div class="stats">
                <div class="stats_item">
                    <p><%=data.oKD%></p>
                    <h2>Overall KD</h2>
                </div>
                <div class="stats_item">
                    <p><%=data.aKD%></p>
                    <h2>Average KD</h2>
                </div>
            </div>
            <p class="info">Last Matches</p>
            <p class="info" style="float: right;"><% if(data.maps != undefined) { %> <%=data.maps.length%> <% } %></p>
            <div class="last_matches">
                <% if(data.maps != undefined) data.maps.forEach(e => { %>
                    <div class="match_item">
                        <div class="map_img">
                            <img src="icons/<%=e.name.toLowerCase()%>.png">
                            <div class="fade"></div>
                        </div>
                        <div class="map_info">
                            <h1><%=e.name%></h1>
                            <h2><%=e.mode%></h2>
                            <h3><span>K</span> <%=e.k%> <span>D</span> <%=e.d%></h3>
                            <% if(e.won) { %>
                                <p style="color: rgb(43, 145, 43);">WIN</p>
                            <% } else { %>
                                <p style="color: rgb(245, 94, 94);">LOSE</p>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="footer">
            <p>@made by <a href="https://www.instagram.com/oocastor">oocastor</a></p>
        </div>
    </body>
</html>